.item_menu{
    color: #FEDF7F !important;
    font-size: 18px !important;
    font-weight:700 !important;
}

.a_logo{
    margin-left: 50px;
    padding-top: 0px !important;
}

.items{
    flex-direction: row-reverse;
    padding-right: 50px;
}
