@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item_menu{
  color: white !important;
  font-size: 18px;
}
